@import "@blueprintjs/core/lib/scss/variables";

.store {
  flex: 1;
  margin: 5%;
  padding: 0;
}

.content {
  position: relative;
  width: 300px;
  height: 150px;
  padding: 5%;
}

.title {
  font-size: $pt-font-size-large;
  width: 150px;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
}