.store {
  background-image: radial-gradient(
      circle at 100% 100%,
      transparent 10px,
      #59c2ff 10px,
      #59c2ff 13px,
      transparent 13px
    ),
    linear-gradient(to right, #59c2ff, #ff61ea),
    radial-gradient(
      circle at 0% 100%,
      transparent 10px,
      #ff61ea 10px,
      #ff61ea 13px,
      transparent 13px
    ),
    linear-gradient(to bottom, #ff61ea, #ff61ea),
    radial-gradient(
      circle at 0% 0%,
      transparent 10px,
      #ff61ea 10px,
      #ff61ea 13px,
      transparent 13px
    ),
    linear-gradient(to left, #ff61ea, #59c2ff),
    radial-gradient(
      circle at 100% 0%,
      transparent 10px,
      #59c2ff 10px,
      #59c2ff 13px,
      transparent 13px
    ),
    linear-gradient(to top, #59c2ff, #59c2ff);
  background-size: 13px 13px, calc(100% - 26px) 3px, 13px 13px,
    3px calc(100% - 26px);
  background-position: top left, top center, top right, center right,
    bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}
