@import "@blueprintjs/core/lib/scss/variables";

body {
  padding-top: $pt-navbar-height;
}

a, a:hover {
  color: $forest1;
}

div.stores {
  display: flex;
  flex-wrap: wrap;

  & > .store {
    flex: 1;
  }
}